<h1>Dashboard</h1>
<h2>Welcome, {{user.username}}!</h2>

<ul>
    {{#each user.posts}}
        <li>{{this.title}} - {{this.content}}</li>
     {{else}}
        <li>No posts available.</li>
    {{/each}}
</ul>

<form method="POST" action="/logout">
    <button type="submit">Logout</button>
</form>

 <script src="/js/dashboard.js"></script>