{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/style.css"> 
</head>
<body>
    <header>
        <h1>Login to Your Account</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/signup">Sign Up</a>
        </nav>
    </header> --}}
    
    <main>
        <form action="login.handlebars" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        
        {{#if error}}
            <div class="error">{{error}}</div> 
        {{/if}}
    </main> 
    <script src="login.handlebars"></script>

</body>
</html>
